h1 {
    color:red;
    text-align:left;
}
h2 {
    color:green;
    text-align:left;
}
h3 {
    color:blue;
    text-align:left;
}
h4 {
    color:red;
    text-align:left;
}
h5 {
    color:green;
    text-align:left;
}
h6 {
    color:blue;
    text-align:left;
}
p {
    color:orange;
    text-align:justify;
    font-family:arial;
    font-weight:lighter;
}
div {
    background-color: teal;
    width:50%;
    height:50%;
    margin:15px;
    padding:14px;
    font-family:arial;
    font-size:14px;
    font-weight:normal;
}
table {
    border:4px solid black;
    border-collapse:collapse;
    width:50%;
    height:50%;
}
th, td {
    border:1px solid black;
    text-align:center;
    padding:5px;
    font-weight:bold;
}
th {
    background-color:#e01246;
}
td {
    background-color:#e0ced3;
}
